@import '../variables';

.header {
  margin-top: 40px;

  &__logo {
    float: left;
  }

  &__nav {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    float: right;

    li {
      float: left;
    }

    a {
      text-transform: uppercase;
      font-weight: 700;
      color: $gray-9;
      padding: 8px 16px;
      font-size: 13px;
      display: block;

      &:hover {
        text-decoration: none;
        color: $c-moko;
      }
    }
  }
}
